* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  text-align: center;
  margin: 40vh auto auto auto;
}

.clock {
  font-size: 70px;
  font-weight: 700;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  width: 400px;
  margin: auto auto 5px auto;
}

.date {
  font-size: 50px;
  font-weight: 600;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  width: 400px;
  margin: auto auto 5px auto;
}

.day {
  font-size: 60px;
  font-weight: 600;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  width: 400px;
  margin: auto auto 5px auto;
}

.options {
  display: flex;
  justify-content: center;
  margin: 50px;
}
